<%- include('partials/headerView') %>
<link rel="stylesheet" href="/css/aboutStyles.css">
<h1>Acerca de nosotros</h1>
<p>Duis ullamcorper vehicula nisl, id aliquam mauris tincidunt vitae. Sed lacus nunc, posuere et cursus sed, sagittis non mi. Ut imperdiet ante id metus finibus consequat. Sed maximus pharetra quam, ut consectetur dui consequat et. Morbi blandit pellentesque sodales. Phasellus id efficitur est. Phasellus interdum faucibus laoreet. Maecenas pellentesque id metus eget iaculis. Praesent hendrerit mattis sem at commodo. Etiam finibus diam lorem, a sagittis purus tincidunt sed. Vivamus a nunc eget erat venenatis aliquet. Nam tempor tincidunt pulvinar. Quisque sed laoreet justo. Praesent sit amet leo eu magna egestas fermentum vel nec dui. Quisque ultrices egestas orci, sed semper ex iaculis id. Duis blandit nibh sed nunc tincidunt tristique.</p>
<%- include('partials/footerView') %>
