<%- include('partials/headerView') %>
<link rel="stylesheet" href="/css/homeStyles.css">
<h1>Planificador de conferencias</h1>
<p>This is the home page content.</p>
<%- include('partials/footerView') %>
