#uploadForm {
    max-width: 400px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centrar el formulario horizontalmente */
    padding: 20px; /* Espacio alrededor del formulario */
    border: 1px solid #ccc; /* Borde del formulario */
    border-radius: 5px; /* Borde redondeado */
    text-align: center; /* Alinear contenido al centro */
}

/* Estilos para mis tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #fff;
}

table th:first-child, table td:first-child {
    width: 15%;
}

table th:nth-child(2), table td:nth-child(2) {
    width: 65%;
}

table th:last-child, table td:last-child {
    width: 20%;
}

h2 {
    margin-top: 30px;
    font-size: 1.5em;
}

h3 {
    margin-top: 20px;
    font-size: 1.2em;
}