        </div>
    </div>
    <link rel="stylesheet" href="/css/footerStyles.css">
    <footer>
        <div class="footer-content">
            <p>&copy; <%= new Date().getFullYear() %> Planificador de Conferencias</p>
            <ul class="footer-links">
                <!-- <li><a href="/terms">Términos y condiciones</a></li>
                <li><a href="/privacy">Política de privacidad</a></li> -->
                <li><a href="/about">Contacto</a></li>
            </ul>
        </div>
    </footer>

</body>
</html>